# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#    Title:    20-cc1111.rules
#
#    Author:   David Leclerc
#
#    Version:  0.1
#
#    Date:     27.03.2018
#
#    License:  GNU General Public License, Version 3
#              (http://www.gnu.org/licenses/gpl.html)
#
#    Overview: This is a UDEV rule to assign a fixed DEV path to a Texas
#			   Instruments CC1111 USB radio stick.
#
#    Notes:    This needs to be stored in: /etc/udev/rules.d/
#              After storing it, enact it with: sudo udevadm trigger
#
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

SUBSYSTEM=="usb", ATTR{idVendor}=="0451", ATTR{idProduct}=="16A7", MODE="0666"